# **IBM DATA SCIENCE ASSIGNMENT**

**Introduction**
In this notebook, we will explore various tools, libraries, and languages used in the field of Data Science. We will also practice basic arithmetic operations using Python.

**Languages Used in Data Science**
- Python

- R

- SQL

- Julia

- Scala

**Common Libraries Used in Data Science**
- Pandas

- NumPy

- Matplotlib

- Scikit-learn

- TensorFlow

**Tools of Data Science**

| Tool            | Description                    |
|-----------------|---------------------------------|
| Jupyter Notebook| Interactive computing environment |
| RStudio         | IDE for R programming           |
| Apache Spark    | Big data processing engine      |
| TensorFlow      | Machine learning framework      |
| Tableau         | Data visualization tool         |

**Examples of Arithmetic Expressions**
We can perform operations like addition, subtraction, multiplication, and division using Python.

In [28]:

result = (3 * 4) + 5
print("The result is:", result)

The result is: 17

In [30]:
minutes = 150
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

150 minutes is equal to 2.5 hours.

**Objectives**
- List popular languages for Data Science

- List commonly used libraries

- Create and format markdown cells

- Perform basic arithmetic operations in Python

# **Ahmed Hossam**